{% extends 'base.html.twig' %}

{% block title %}Liste des plateformes{% endblock %}

{% block body %}
    <h1>Liste des plateformes et leurs films disponibles</h1>

    <ul>
        {% if platformes|length == 0 %}
            <p>Aucune plateforme</p>
        {% else %}
            {% for platforme in platformes %}
                <li>
                    <strong>{{ platforme.name }}</strong> 
                    {% if platforme.url %} - <a href="{{ platforme.url }}" target="_blank">Site</a>{% endif %}
                    {% if platforme.logo %}<br><img src="{{ platforme.logo }}" alt="{{ platforme.name }}" width="100">{% endif %}
                    
                    {% if platforme.films|length > 0 %}
                        <ul>
                            {% for film in platforme.films %}
                                <li>{{ film.title }} ({{ film.releaseYear }})</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Aucun film disponible.</p>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul> 

{% endblock %}
