{% extends 'base.html.twig' %}

{% block title %}Détail du film{% endblock %}

{% block body %}
    <h1>{{ film.title }}</h1>

    <p><strong>Année de sortie :</strong> {{ film.releaseYear }}</p>
    <p><strong>Synopsis :</strong> {{ film.synopsis }}</p>

    <p><strong>Plateformes :</strong>
        {% if film.platform|length > 0 %}
            {{ film.platform|map(p => p.name)|join(', ') }}
        {% else %}
            Aucune plateforme
        {% endif %}
    </p>

    <a href="{{ path('app_film_index') }}">← Retour à la liste des films</a>
{% endblock %}
